@import "tailwindcss";
@import "./themes/default/theme.css";

body {
  font-family: var(--font-work-sans);
}

@layer components {
  .custom-transition-all {
    transition-property: all;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-medium-gray);
}

::-webkit-scrollbar-thumb {
  background: var(--color-black);
  border-radius: 3px;
}

@media (max-width: 900px) {
  ::-webkit-scrollbar {
    width: 6px;
  }
}